* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  box-sizing: border-box;
}
header {
  padding: 5px;
  margin: 1% 0;
  height: 5rem;
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
body {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  /* height: 100vh; */
  color: #333;
  background-image: linear-gradient(to top left, #ce67e3 0%, #4e3ac1 100%);
}
main {
  margin: 0 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
}
section {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.player {
  flex: 40%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}
.dice {
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}
.name {
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  /* margin-bottom: 1rem; */
}
.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}
.player--active {
  border-radius: 9px;
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}

.current {
  display: flex;
  background-color: #4736c7;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
  flex-direction: column;
  align-items: center;
}
.current-label {
  align-items: center;
  text-transform: uppercase;
  /* margin-bottom: 1rem; */
  font-size: 2rem;
  color: #ddd;
}
.current-score {
  font-size: 3.5rem;
}
.btn {
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 1.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.game--btns {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-direction: column;
}
.btn--dice {
  display: flex;
  gap: 2rem;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 900px) {
  main {
    gap: 2rem;
    flex-direction: column;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .dice {
    height: 6rem;
  }
  .player {
    padding: 1rem;
    width: 25rem;
  }
  .name {
    font-size: 3rem;
  }
  .score {
    font-size: 3rem;
  }

  .current-score {
    font-size: 2.5rem;
  }
  .game--btns {
    display: flex;
    align-items: center;
    gap: 1rem;
    flex-direction: row;
  }
  .btn--dice {
    display: flex;
    flex-direction: column;
    gap: 1rem;
  }
}

/* main-style below */
/* body {
  font-family: "Teko", sans-serif;
  font-weight: 500;
  height: 100vh;
  color: #333;
  background-image: linear-gradient(to top left, #ce67e3 0%, #4e3ac1 100%);
}

.header {
  margin: 2px 8px 5px 0;
  padding: 10px 10px 5px 0;
  display: flex;
  justify-content: flex-end;
  height: 5rem;
  align-items: center;
}
/* rules button  */
/* .button-rule {
  align-items: center;
  appearance: none;
  background-color: #fcfcfd;
  border-radius: 50rem;
  border-width: 0;
  box-shadow: rgba(45, 35, 66, 0.2) 0 2px 4px,
    rgba(45, 35, 66, 0.15) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  box-sizing: border-box;
  color: #36395a;
  cursor: pointer;
  display: inline-flex;
  height: 40px;
  justify-content: center;
  line-height: 1;
  list-style: none;
  overflow: hidden;
  padding-left: 16px;
  padding-right: 16px;
  position: relative;
  text-align: left;
  text-decoration: none;
  transition: box-shadow 0.15s, transform 0.15s;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  white-space: nowrap;
  will-change: box-shadow, transform;
  font-size: 15px;
}

.button-rule:focus {
  box-shadow: #d6d6e7 0 0 0 1.5px inset, rgba(45, 35, 66, 0.4) 0 2px 4px,
    rgba(45, 35, 66, 0.3) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
}

.button-rule:hover {
  box-shadow: rgba(45, 35, 66, 0.3) 0 4px 8px,
    rgba(45, 35, 66, 0.2) 0 7px 13px -3px, #d6d6e7 0 -3px 0 inset;
  transform: translateY(-2px);
}

.button-rule:active {
  box-shadow: #d6d6e7 0 3px 7px inset;
  transform: translateY(2px);
}

main {
  position: relative;
  width: 100rem;
  height: 60rem;
  background-color: rgba(255, 255, 255, 0.35);
  backdrop-filter: blur(200px);
  filter: blur();
  box-shadow: 0 3rem 5rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  overflow: hidden;
  display: flex;
  width: 80%;
  margin-left: 10%;
  justify-content: center;
}
.player {
  flex: 50%;
  padding: 9rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all 0.75s;
}
.name {
  position: relative;
  font-size: 4rem;
  text-transform: uppercase;
  letter-spacing: 1px;
  word-spacing: 2px;
  font-weight: 300;
  margin-bottom: 1rem;
}
.score {
  font-size: 8rem;
  font-weight: 300;
  color: #c7365f;
  margin-bottom: auto;
}

.player--active {
  background-color: rgba(255, 255, 255, 0.4);
}
.player--active .name {
  font-weight: 700;
}
.player--active .score {
  font-weight: 400;
}

.player--active .current {
  opacity: 1;
}
.current {
  display: flex;
  background-color: #4736c7;
  opacity: 0.8;
  border-radius: 9px;
  color: #fff;
  width: 65%;
  padding: 2rem;
  text-align: center;
  transition: all 0.75s;
  flex-direction: column;
  align-items: center;
}
.current-label {
  align-items: center;
  text-transform: uppercase;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #ddd;
}
.current-score {
  font-size: 3.5rem;
}
.btn {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  color: #444;
  background: none;
  border: none;
  font-family: inherit;
  font-size: 1.8rem;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: 400;
  transition: all 0.2s;

  background-color: white;
  background-color: rgba(255, 255, 255, 0.6);
  backdrop-filter: blur(10px);

  padding: 0.7rem 2.5rem;
  border-radius: 50rem;
  box-shadow: 0 1.75rem 3.5rem rgba(0, 0, 0, 0.1);
}
.btn::first-letter {
  font-size: 2.4rem;
  display: inline-block;
  margin-right: 0.7rem;
}
.btn--new {
  top: 4rem;
}
.btn--roll {
  top: 39.3rem;
}
.btn--hold {
  top: 46.1rem;
}
.btn:active {
  transform: translate(-50%, 2px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.15);
}

.btn:focus {
  outline: none;
}
.dice {
  position: absolute;
  left: 50%;
  top: 16.5rem;
  transform: translateX(-50%);
  height: 10rem;
  box-shadow: 0 2rem 5rem rgba(0, 0, 0, 0.2);
}
.player--winner {
  background-color: #2f2f2f;
}

.player--winner .name {
  font-weight: 700;
  color: #c7365f;
}

.hidden {
  display: none;
}

  */
